	table.dg {
		border:1px solid #000;
		border-collapse:collapse;
		font-family:arial,sans-serif;
		font-size:80%;
	}
	td.cellleft{
		border:1px solid #000;
		border-collapse:collapse;
		padding:5px;
		text-align:left;
	}	
	td.cellright{
		border:1px solid #000;
		border-collapse:collapse;
		padding:5px;
		text-align:right;
	}	
	td.cellcenter{
		border:1px solid #000;
		border-collapse:collapse;
		padding:5px;
		text-align:center;
	}
	.dgHd{
	 border-bottom: 2px solid #d79900;
	 background-color: #fff2ba;
	 text-align: center;
	 font-family: Verdana;
	 font-weight: bold;
	 font-size: 11px;
	 color: #404040;}	
